<!--<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="" id="icon" alt="User Icon"/>
      </div>
  
      
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="userId">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="userPass">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <!--<form #loginForm="ngForm" class="form" (ngSubmit)="onSubmit()" novalidate>-->
                            <form [formGroup]="userForm" class="form" (ngSubmit)="onSubmit()" novalidate>
                            <div class="form-group">
                                <label for="username" class="text-white">UserId:</label><br>
                                <input type="text" formControlName="userId" [class.is-invalid]="userId.invalid && userId.touched" id="username" class="form-control" placeholder="UserId"/>

                              </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Password:</label><br>
                                <input type="password" formControlName="userpass" [class.is-invalid]="userpass.invalid && userpass.touched" id="password" class="form-control" placeholder="UserPassword">
                              </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" [disabled]="!userForm.valid"  value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
