<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<h1>HI UROOSA</h1>

<!--<button (click)="isValid=true">Show Div</button>
<button (click)="isValid=false">Hide Div</button>
 
<div *ngIf="isValid">
    Hey!Angular
</div>

<div *ngIf="projectsList.length==0">
    No Projects Exist.
</div>
<div *ngIf="projectsList.length>0">
    Projects Exist.
</div>

<div *ngIf="isValid">
<div *ngIf="projectsList.length==0;then myIfBlock;else myelsBlock"></div>
<ng-template #myIfBlock>
    Project Doesnt Exist..
</ng-template>
<ng-template #myelsBlock>
    Project List..
    <table border="1">
        <tr>
            <th>Serial No.</th>
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Project Status</th>
            <th>Even Row</th>
            <th>Odd Row</th>
        </tr>
        <tr *ngFor="let p of projectsList;index as i;let ev=even;let od=odd">
            <td>{{i}}</td>
            <td>{{p.projectId}}</td>
            <td>{{p.projectName}}</td>
            <td>{{p.active}}</td> 
            <td>{{ev}}</td>
            <td>{{od}}</td>
        </tr>
    </table>
    <button (click)="addNewRow('p00','Test Project','no')">Add New Row</button>
    
</ng-template>
</div>-->
<h1>Student Details</h1>
<app-student></app-student>

